<div class="container text-center">

  <div class="content d-flex flex-column flex-sm-row align-items-center">

    <div class="flex-grow-0 flex-sm-grow-1">

      <h1 class="mb-2">Contact</h1>

      <p>
        If you are interested working together, feel free to contact with me:
      </p>

      <div class="d-flex align-items-center justify-content-center">
        <mat-icon class="me-2">alternate_email</mat-icon>
        marcin.tomczynski1(at)gmail.com
      </div>

    </div>

    <img src="/assets/images/contact.png" class="side-image ms-0 ms-sm-5 mt-4 mt-sm-0" />

  </div>

</div>
