<div class="container py-4 text-center">

  <div class="content d-flex flex-column flex-sm-row align-items-center">

    <div class="flex-grow-0 flex-sm-grow-1">

      <h1 class="mb-2">About me</h1>

      <p>
        Hi, my name is Marcin and I'm 21 years old student from Poznan, Poland. When I was young, my dad showed me some basic HTML, and I loved it. When I was 15 I started learning some PHP, CSS and JS and I loved it even more. I knew it's gonna change my life and be my best hobby. I started doing some hobby projects and practicing basics of webdev. Besides beautiful pages I started making some bots and scripts for myself. I used Node.js to make them faster and better. Few years later I started doing some serious projects using Laravel for backend and then switched to Angular. That was very good idea, because I started working on commercial projects and I think I love it. The feeling that my code is used every day is something that I always wanted.
      </p>

      <a [routerLink]="['/skills']" mat-flat-button color="primary" class="mb-4">See my skills</a>
    </div>

    <img src="/assets/images/home.png" class="side-image ms-0 ms-sm-5 mt-4 mt-sm-0 p-2 p-sm-0" />

  </div>

</div>
