.gauge {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  position: relative;
  overflow: hidden;
  text-align: center;

  .background,
  .foreground {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    border: 1.5rem solid transparent;
    border-bottom: 0;
    box-sizing: border-box;
  }

  .background {
    z-index: 1;
    border-color: rgba(0, 0, 0, .2);
  }

  .foreground {
    z-index: 2;
    transform-origin: center bottom;
    transform: rotate(-180deg);
    transition: all 1.3s ease-in-out;
  }

  .data {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 50%;
    line-height: 50%;
    text-align: center;

    h1 {
      z-index: 4;
      font-weight: 700;
      font-family: 'Didact Gothic', sans-serif;
    }
  }
}

.text {
  text-align: center;
  font-size: 1rem;
  opacity: .8;
}
